body{
  font-family: tahoma, sans-serif;
}

h1 {
  padding: 10px;
  color: #36454F;
}

img {
  height:200px;
  margin-top: 50px;
  max-width:280px;
  float: left;
  margin-left: 30px;
}

#my_chart {
  width: 800px;
}

table {
  padding: 10px;
}

.heading{
  color: #36454F;
  padding: 8px;
  width: 120px;
  background-color: gold;
}

td {
  border: 1px solid #f2f2f2;
  color: #36454F;
  text-align: center;
}

.recommended {
  background-color: #fff5cc;
}

th{
  color: #36454F;
  background-color: rgba(242, 242, 242, 0.7);
}
